<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.github.xuqplus.hello.mybatis3.mapper.UserMapper">
    <select id="getFirstByName" resultMap="UserMap">
        SELECT * FROM app_user WHERE name = #{name}
        <if test="_databaseId == 'mysql'">
            LIMIT 1
        </if>
    </select>

    <select id="getFirstByName" resultMap="UserMap" databaseId="oracle">
        SELECT t.* FROM (
        SELECT u.*, ROW_NUMBER() OVER(PARTITION BY id ORDER BY id ASC) rn FROM app_user u) t
        WHERE t.rn = 1
    </select>

    <resultMap type="com.github.xuqplus.hello.mybatis3.domain.User" id="UserMap">
        <id column="id" property="id"/>
        <result column="index0" property="index"/>
        <!--<result column="workCity" property="work_city"/>-->
    </resultMap>
</mapper>
